* {
    margin: 0;
    padding: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}

th {
    background-color: rgb(231, 219, 202);
}


td {
    background-color: rgb(238, 238, 211);
    width: 75px;
}

.tablediv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

table {
    width: 98%;
    min-width: 1111px;
}

.empty {
    background-color: rgb(151, 161, 172);
}

.dailytotal {
    background-color: rgb(238, 245, 244);
}

.total {
    background-color: rgb(216, 238, 247);
}

.missed {
    background-color: rgba(255, 0, 0, 0.349);
}

.guildmate {
    color:rgb(165, 44, 155);
    font-size: 1.7em;
}