* {
    margin: 0;
    padding: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 10px;
}

th {
    background-color: rgb(231, 219, 202);
}

td {
    background-color: rgb(238, 238, 211);
}

.tablediv {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 98%;
    min-width: 1111px;
}

.empty {
    background-color: rgb(151, 161, 172);
}

.dailytotal {
    background-color: rgb(238, 245, 244);
}

.total {
    background-color: rgb(248, 223, 248);
}