* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(84, 133, 156, 0.459);
}

nav {
    width: 1480px;
    display:flex;
    justify-content: space-between;
}

button {
    font-size: 20px;
    background-color: rgb(214, 203, 255);
    border-radius: 10px;
    padding: 5px;
    margin: 5px 20px;
    cursor: pointer;
}

.tablediv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    min-width: 1480px;
}

h1 {
    font-family: 'Tourney', cursive;
    font-size: 3em;
    margin-bottom: 10px;;
}

table {
    table-layout: fixed;
    width: 98%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}

th {
    background-color: rgb(231, 219, 202);
    width: 111px;
}
.day {
    width: 80px;
}


td {
    text-align: center;
    background-color: rgb(238, 238, 211);
    width: 80px;
    font-size: 14px;
    height: 16px;
}

.empty {
    background-color: rgb(151, 161, 172);
}

.dailytotal {
    background-color: rgb(238, 245, 244);
}

.total {
    background-color: rgb(216, 238, 247);
}

.missed {
    background-color: rgb(77, 77, 77);
    color: white;
}

.guildmate {
    color:rgb(133, 20, 57);
    font-size: 1.7em;
    width: 125px;
    border-right: 2px solid black;
}

.fire {
    background-color: #c75851;
}

.water {
    background-color: #6da5cf;
}

.earth {
    background-color: #a8895f;
}

.light {
 background-color: #f8d479;
}

.basic {
    background-color: #a1a3a5;
}

.dark {
    background-color: #a56dac;
}

.kill {
    color: white;
}